/** Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap");
/** ------------------------------ */
/** --------GLOBAL MARGIN--------- */
/** ------------------------------ */
* {
  margin: 0;
  font-family: var(--poppins);
}
/** ------------------------------ */
/** --------GLOBAL STYLES--------- */
/** ------------------------------ */
:root {
  /** Font family */
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --roboto-regular: 400;
  --roboto-light: 300;
  --roboto-thin: 100;
  /** Main site colors */
  --smokey-black: #0c0e07;
  --corn-silk: #fefae0;
  --cyan-process: #5bc0eb;
  --ghost-white: #FFFAFF;
  --background-white: #fbfbfb;
  --blue-accent: #00b8ce;
  /** Grey Scale */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /** Rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --smallText: 0.7em;
  /** Rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --max-width: 1440px;
  --max-height: 700px
  --fixed-width: 600px;
  --margin-left: 100px;
  --margin-right: 100px;
  /** Box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/** ------------------------------ */
/** --------BODY STYLES----------- */
/** ------------------------------ */

body {
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfb;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  transition: all .4s ease-in-out;
}

/** ------------------------------------ */
/** --------NAVIGATION STYLES----------- */
/** ------------------------------------ */

.top-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: var(--background-white);
  padding-left: 100px;
  padding-right: 100px;
  position: sticky;
  /* letter-spacing: 2px; */
}

.nav-elements-container{
  width: var(--max-width);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-logo-div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--smokey-black);
}

.logo-container{
   display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo-div img{
  height: 2.5rem;
}

.nav-logo-div p{
  padding: 1rem 0rem 0rem .5rem;
  font-size: 1.2rem;
}

.nav-div .nav-link {
  display: inline;
  color: var(--smokey-black);
  font-size: 1.2rem;
}

/** -------------------------------------- */
/** --------HERO SECTION STYLES----------- */
/** -------------------------------------- */

.hero-landing-container {
  width: 100vw;
  height: 500px;
  background-color: #fbfbfb;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: var(--smokey-black);
}

.hero-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-heading-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main-heading-div img{
  width: 5rem;
}

.main-heading-name{
font-size: 5rem;
font-weight: 700;
}

.main-heading-name-2{
font-size: 5rem;
font-weight: 700;
color: var(--grey-600);
}

.main-heading-description{
  font-size: 1.5rem;
  color: var(--grey-500);
  width: 700px;
  text-align: center;
}

.main-heading-name span{ 
  color: #00b8ce;
}

.rotate{
  animation: rotate 3s infinite linear;

}

@keyframes rotate{
   0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-container-cta{
  width: 100vw;
  height: 80px;
  background-color: #7c7c7c;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--smokey-black);
}

/** -------------------------------------- */
/** --------DIVIDER SECTION STYLES-------- */
/** -------------------------------------- */

.divider-section-container {
  width: 100vw;
  height: 600px;
  background-color: var(--smokey-black);
  color: #FFFAFF;
  display: flex;
  flex-wrap: wrap;
}

.divider-svg-container{
   width: 100vw;
  /* height: 100px; */
}

.divider-svg-container svg{
  width: 100vw;
  /* background-color: var(--ghost-white); */
  /* height: 100px; */
}

.divider-section-div{
  width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/** Top navigation for video mock container */
.video-container-parent{
  display: flex;
  justify-content: center;
  align-items: center;
   position:relative;
  bottom:50%; 
}

.video-container{
  overflow: hidden;
  width: 700px;
  height: 500px;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  color: #FFFAFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.video-mock-nav{
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem .5rem 1rem;
}

.traffic-light-btns{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.close{
  height: .8rem;
  width: .8rem;
  background-color: #ff755c;
  border-radius: 50%;
}

.minimize{
  height: .8rem;
  width: .8rem;
  background-color: #f0c229;
  border-radius: 50%;
}

.fullscreen{
  height: .8rem;
  width: .8rem;
  background-color: #56b72c;
  border-radius: 50%;
}

.video{
  height: 100%;
}

.mock-video-container{
  /* position: relative; */
  /* width: 100%; */
  height: 100%;
}

.svgs-div{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  /* width: 20px; */
}

.svgs-div img{
  width: 5rem;
}

.tech-icons{
  height: 300px;
  width: 100%;
  /* background-color: #00b8ce; */
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.tech-icons p{
  font-size: 2.5rem;
font-weight: 700;
}

.tech-icons .icon-name{
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.rotate {
  animation: spin 4s infinite linear;
}

.react-logo {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/** END of Top navigation for video mock container */

/** -------------------------------------- */
/** --------PROJECT SECTION--------------- */
/** -------------------------------------- */

.projects-section-container{
  width: 100vw;
  height: 500px;
  background-color: var(--smokey-black);
  color: #FFFAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}




.project{
  width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.project-2{
    width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-direction: row-reverse;
}

.project-4{
    width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-direction: row-reverse;
}


.project-img{
  overflow: hidden;
}

.project-img img{
  width: 400px;
  border-radius: 10px;
}

.project-description{
  width: 500px;
}

.project-description h2{
  font-weight: 700;
  font-size: 2.5rem;
}

.project-description p{
  color: rgb(120, 120, 120);
  font-size: 1.5rem;
}

.project-technologies{
  width: 2rem;
  display: flex;
  gap: .2rem;
}

.project-technologies img{
  width: 3rem;
}

/* Btn CSS */
.demo-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #00b8ce;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fbfbfb;
  cursor: pointer;
  height: 44px;
  margin: 1.5rem 0 0;
  outline: none;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
}

.demo-btn a{
  text-decoration: none;
  color: #fbfbfb;
}

/** -------------------------------------- */
/** --------ABOUT ME SECTION-------------- */
/** -------------------------------------- */

.about-me-section-container{
  width: 100vw;
  height: 800px;
  background-color: #fbfbfb;
  color: #FFFAFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.divider-svg-container-bottom{
  width: 100vw;
  height: 200px;
  /* height: 100px; */
}

.divider-svg-container-bottom svg{
  width: 100vw;
  /* background-color: var(--ghost-white); */
  /* height: 100px; */
}

.project{
  width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.about-me-img{
  overflow: hidden;
}

.about-me-img img{
  width: 400px;
  border-radius: 10px;
}

.about-me-div{
  width: 600px;
}

.about-me-div h2{
  font-weight: 700;
  font-size: 2.5rem;
}

.about-me-div p{
  color: rgb(120, 120, 120);
  font-size: 1.5rem;
}

.project-technologies{
  width: 2rem;
  display: flex;
  gap: .5rem;
}

.project-technologies img{
  width: 3rem;
}

/* Btn CSS */
.resume-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #00b8ce;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fbfbfb;
  cursor: pointer;
  height: 44px;
  margin: .5rem 0 0;
  outline: none;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
}

.resume-btn a{
  text-decoration: none;
  color: #fbfbfb;
}

/** -------------------------------------- */
/** --------CONTACT SECTION--------------- */
/** -------------------------------------- */

.contact-section-container{
   width: 100vw;
  height: 500px;
  background-color: #000000;
  color: #FFFAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

/** -------------------------------------- */
/** --------FOOTER------------------------ */
/** -------------------------------------- */

footer{
  width: 100vw;
  height: 15rem;
  background-color: #222;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.made-with-love{
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .made-with-love p{
  color: var(--ghost-white);
}

/** -------------------------------------- */
/** --------MEDIA QUERIES----------------- */
/** -------------------------------------- */