/** Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap");
/** ------------------------------ */
/** --------GLOBAL MARGIN--------- */
/** ------------------------------ */
* {
  margin: 0;
  font-family: var(--roboto);
}
/** ------------------------------ */
/** --------GLOBAL STYLES--------- */
/** ------------------------------ */
:root {
  /** Font family */
  --roboto: "Roboto", sans-serif;
  --roboto-regular: 400;
  --roboto-light: 300;
  --roboto-thin: 100;
  /** Main site colors */
  --smokey-black: #0c0e07;
  --corn-silk: #fefae0;
  --cyan-process: #5bc0eb;
  /** Grey Scale */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /** Rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --smallText: 0.7em;
  /** Rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --max-width: 1440px;
  --max-height: 700px
  --fixed-width: 600px;
  --margin-left: 100px;
  --margin-right: 100px;
  /** Box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/** ------------------------------ */
/** --------BODY STYLES----------- */
/** ------------------------------ */

body {
  width: 100vw;
  height: 100vh;
  background-color: #fefae0;
}

/** ------------------------------------ */
/** --------NAVIGATION STYLES----------- */
/** ------------------------------------ */

.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--max-width);
  height: 5rem;
  background-color: var(--corn-silk);
  padding-left: 100px;
  padding-right: 100px;
}

.nav-div .nav-link {
  display: inline;
  color: var(--smokey-black);
}

/** -------------------------------------- */
/** --------HERO SECTION STYLES----------- */
/** -------------------------------------- */

.hero-landing-container {
  width: var(--max-width);
  height: 500px;
  background-color: var(--corn-silk);
  padding-left: 100px;
  padding-right: 100px;
}

/** -------------------------------------- */
/** --------DIVIDER SECTION STYLES-------- */
/** -------------------------------------- */

.divider-section-container {
  width: var(--max-width);
  height: 700px;
  background-color: var(--smokey-black);
}
